.bottom-goods__name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: @add-black;
  text-transform: uppercase;
  font-weight: 400;
}

.bottom-goods__wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-goods__size, .bottom-goods__price {
  margin: 0;
  font-family: @arial;
  font-size: 14px;
  line-height: 20px;
}
