.form__caption {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__fieldset {
  .fielset();
}

.form__legend {
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  }

.form__comment-input {
  width: 100%;
  height: 150px;
  padding: 9px 0 0 15px;
  color: @special_dark-grey;
  .label();
  font-family: inherit;
  box-sizing: border-box;
}
