.page {
  margin: 0;
  padding: 0;
  height: 100%;
  color: @special_dark-gray;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  background-color: @white;
  margin: 0 auto;
}

.page__body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows:
  min-content
  min-content
  min-content;
}
