.page-main__caption {
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.page-main__caption-catalog {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 164px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 165px;
  }
}

.page-main__caption-form {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}
