.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  position: relative;
}

.page-header__content {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
}
