.page-header {
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

// Убрал отступ для внутренних страниц

.page-header--inner {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (min-width: @desktop-width) {
  .page-header--index {
    height: 694px;
    margin-bottom: 82px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 50%;
      height: 696px;
      top: 0;
      right: 0;
      background-position: top right;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &::before {
      background-image: url("../img/index-background.png");
      background-size: 100%;
    }

    &::after {
      background-color: @light-green;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .page-header__content--line {
    border-bottom: 1px solid @light-gray;
  }
}

.page-header__content {

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 24px; // нужно поправить, когда заменю логотип на планшете
    padding-bottom: 20px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 35px; // нужно измерить и поправить
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  position: relative;
}
