.page {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  color: @special_dark-gray;
  font-family: @oswald;
  background-color: @white;
  margin: 0 auto;
  max-width: 1440px;
}

.page__body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows:
  min-content
  min-content
  min-content;
}
