.products__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .products__list {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .products__list {
    display: flex;
    padding: 0 110px;
  }


  .products__item:first-child {
    margin-right: 80px; // временно только для первого, наверное нужно поставить только для нечетных
  }
}

.products__item {
  margin-bottom: 20px; // временно
}
